@import 'tailwindcss';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}

@theme {
  /* Material Design 3–inspired Colors */
  --color-primary: #7b3f00;
  --color-on-primary: #ffffff;

  --color-secondary: #a67858;
  --color-on-secondary: #ffffff;

  --color-tertiary: #c0a072;
  --color-on-tertiary: #3f2e10;

  --color-surface: #fdecc8;
  --color-on-surface: #3b2f2f;

  --color-background: #fff8e7;
  --color-on-background: #3b2f2f;

  --font-display: 'Satoshi', 'sans-serif';

  /* Fonts */
  --font-display: 'Satoshi', sans-serif;
  --font-baloo: 'Baloo', cursive;
  --font-baloo2: 'Baloo 2', cursive;

  /* Breakpoints */
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;
}
